@using System.Web.UI.WebControls
@using ArgoMini.Models
@using FileUpload = Microsoft.Web.Helpers.FileUpload
@model NotaFiscalCompra
@{
    ViewBag.Title = "Importar Nota Fiscal Compra";
}

<h2>Importar Nota Fiscal Compra</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(c => c.Chave, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(c => c.Chave, new { @class = "form-control" })
            <input type="submit" value="Consultar Nota De Compra" class="btn btn-primary" />
        </div>
    </div>
</div>
}

}
